/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "compass/reset";

* {
	@include box-sizing(border-box);
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	padding: 80px;
	font: 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
	font-size: 1em;
}

#container {
	width: 100%;
	height: 100%;
	background: #f3f3f3;
	position: relative;
}

header, footer {
	top: 0;
	left: 0;
	width: 100%;
	position: absolute;
	z-index: 2;
}

header {
	padding: 20px;
	top: 0;
	left: 0;
	position: absolute;
	
	* {
		@include experimental(backface-visibility, hidden);
	}

	nav {
		padding: 10px;
		top: 20px;
		right: 20px;
		text-align: right;
		position: absolute;
		background: #ccc;
		@include border-radius(3px);

		a {
			display: block;
			padding: 2px 0;
			color: #fff;
			text-decoration: none;
		}
	}
}

#logo {
	width: 10%;
	text-indent: -9999px;
	background-image: url("/images/logo.png");
	background-size: 100% 100%;
}

.svg #logo {
	background-image: url("/images/logo.svg");
}

#viewport {
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
	position: relative;
	z-index: 1;
	
	#viewport-inner {
		width: 100%;
		height: 100%;
		display: block;
		position: relative;
		z-index: 1;
		overflow: visible;
/*		@include transform(translateY(0));*/
		@include transition(all, 500ms, ease-in-out);
		@include experimental(backface-visibility, hidden);
	}

	section {
		width: 100%;
		height: 100%;
		display: block;
		position: relative;

		h1 {
			margin: 40px 20px;
			font-size: 3em;
			font-weight: bold;
			@include inline-block;
		}
		
		&#sub-1 {
			background: #ddd;
		}
		
		&#sub-2 {
			background: #ccc;
		}
		
		&#sub-3 {
			background: #bbb;
		}
	}
}

footer {
	top: auto;
	bottom: 0;
}

#timeline {
	bottom: 20px;
	left: 20px;
	position: absolute;
	$timeline-height: 30px;
	@include experimental(backface-visibility, hidden);
	
	ul {
		height: $timeline-height;
	}
	
	li {
		margin-right: 2px;
		float: left;
		width: 8px;
		height: 100%;
		position: relative;
		
		&.type-1 a {
			background: #222;
		}
		
		&.type-2 a {
			background: #444;
		}
		
		&.type-3 a {
			background: #666;
		}
		
		&.type-4 a {
			background: #888;
		}
	}
	
	a {
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #666;
		@include border-radius(3px);
		position: absolute;
		opacity: 0.5;
		@include transition(all, 100ms, ease-out);
		text-decoration: none;
		
		&:hover {
			opacity: 1;
		}
		
		> div {
			padding: 10px;
			top: -60px;
			left: -100px;
			width: 200px;
			height: 50px;
			position: absolute;
			background: rgba(0, 0, 0, 0.5);
			@include border-radius(3px);
			@include box-shadow(rgba(0, 0, 0, 0.5), 0, 2px, 2px);
			display: none;
			@include box-sizing(border-box);
			
			h2 {
				font-size: 14px;
				font-weight: bold;
				color: #fff;
				text-shadow: rgba(0, 0, 0, 0.8) 0 2px 0;
			}
			
			p {
				font-size: 12px;
				color: #fff;
				text-shadow: rgba(0, 0, 0, 0.8) 0 2px 0;
			}
		}

		&[data-spread="1"] {
			opacity: 1;
			height: 140%;
			
			> div {
				display: block;
			}
		}

		&[data-spread="2"] {
			opacity: 0.8;
			height: 130%;
		}

		&[data-spread="3"] {
			opacity: 0.7;
			height: 120%;
		}

		&[data-spread="4"] {
			opacity: 0.6;
			height: 110%;
		}
	}
}

#size-test {
	top: -9999px;
	left: -9999px;
	position: absolute;
	visibility: hidden;
	@include inline-block;
}